/TAGS
/Simple.info
/Simple.info.txt
/happy-templates/HappyTemplate-arrays-ghc-debug
/dist
/Expr.info
/ExprSimple.info
/app/Simple.1.hs
/LICENSE.save0
/.projectile
/happy-templates/HappyTemplate-incremental-ghc-debug
/app/Simple.hs
/app/ExprSimple.hs
/app/ExprSimpleOrig.hs
/app/ExprPrecedence.hs
