.ghc.environment.*
.stack-work
/.projectile
/Expr.info
/ExprPrecedence-no-precedence-set.info
/ExprPrecedence.info
/ExprSimple-ShiftNonTerms.info
/ExprSimple.info
/ExprSimpleOrig.info
/LICENSE.save0
/Repetitive.info
/Repetitive2.info
/Simple.info
/Simple.info.txt
/TAGS
/app/ExprPrecedence.hs
/app/ExprSimple.hs
/app/ExprSimpleOrig.hs
/app/MainRepetitive.hs
/app/Repetitive.hs
/app/Repetitive2.hs
/app/Simple.1.hs
/app/Simple.hs
/cabal.project.local
/dist
/happy-templates/HappyTemplate-arrays-ghc-debug
/happy-templates/HappyTemplate-incremental-ghc-debug
/happy-templates/IncrementalTemplate-ghc-debug
dist-newstyle
/parsers/PaperExample.info
/alex-templates/AlexTemplate-ghc-debug
